/* Color pallette
http://www.color-hex.com/color-palette/62161
     Beige - #E2C19B
  Burgundy - #7B1818
Tan-yellow - #FFD07D
Pale-green - #779052
 Off-white - #FFFCF5
*/

/* Default tag styling */

hr {
  border: 0;
  height: 1px;
}

body {
  margin: 0;
}

/* Custom tag styling */

.app {
  background-color: #FFFCF5;
  display: flex;
  flex-flow: column;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.Head {
  background-color: #7B1818;
  width: 70%;
  height: 100%;
  padding-left: 16px;
  font-size: 18px;
  color: white;
}

/* TopNav */

.TopNav {
  background-color: #7B1818;
  width: 30%;
  height: 100%;
}

div.TopNav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7B1818
}

div.TopNav li a {
  display: flex;
  align-content: center;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 30px 42px;
  text-decoration: none;
}

div.TopNav li a:hover {
  background-color: #111;
}

/* End TopNav */

.Body {
  height: 90%;
  display: flex;
  flex-flow: row;
}

/* SideNav */

.SideNav {
  width: 20%;
  height: 100%;
  background-color: #E2C19B;
}

nav.SideNav h3 {
  padding: 8px 16px;
}

nav.SideNav hr {
  background: #E2C19B;
  background-image: linear-gradient(to right, #E2C19B, #333, #E2C19B);
}

nav.SideNav table {
    list-style-type: none;
    width: 100%;
    border-collapse: collapse;
    background-color: #E2C19B;
    overflow: auto;
}

nav.SideNav tr:hover {
  background-color: #FFD07D;
}

nav.SideNav th, td {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #333;
}

nav.SideNav th a, td a {
  text-decoration: none;
  color: black;
}

/* End SideNav */

.Content {
  width: 60%;
  height: 100%;
  background-color: #FFFCF5;
  padding: 8px 16px;
  border-right: solid;
}

div.Content img {
  height: 400px;
  width: 600px;
}

.dropzone-text {
  text-align: center;
}

.Meta {
  width: 20%;
  height: 100%;
  background-color: #FFFCF5;
  padding: 8px 16px;
}

div.Meta hr {
  background: #FFFCF5;
  background-image: linear-gradient(to right, #FFFCF5, #333, #FFFCF5);
}
